<!-- Log In Section Start -->
<div class="login-section">
    <div class="materialContainer">
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        <span [innerHTML]="errorMessage"></span>
      </div>

      <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Your password has been reset. Please <a [routerLink]="['/login']">click here to log in</a>
      </div>
        <form  [formGroup]="resetPasswordForm" autocomplete="off" novalidate
        (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="box">
                <div class="login-title">
                    <h2>Reset Password</h2>
                </div>
               

                    <!-- <app-text-input formControlName="email" [label]="'Email address'"></app-text-input> -->

                
                    <!-- <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input> -->
               
    
                    <div class="input">
                    <input
                    type="password"
                    id="password"
                    formControlName="password"
                    placeholder="New Password"
                    class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
                    style="border: 1px solid #d3d5d8 !important;">
                  <div class="col-md-5">
                    <em *ngIf="validateControl('password') && hasError('password','required')">
                      Password is required
                    </em>
                  </div>
                  </div>
                  
                  <div class="input">
                  <input
                  type="password"
                  id="confirm"
                  formControlName="confirm"
                  placeholder="Confirm Password"
                  class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
                  style="border: 1px solid #d3d5d8 !important;">
                </div>
                <div class="col-md-5">
                  <em *ngIf="validateControl('confirm') && hasError('confirm','required')">
                    Confirm Password is required
                  </em>
                  <em *ngIf="hasError('confirm','mustMatch')">
                    Passwords must match
                  </em>
                </div>
                <br>


                <div class="button login">
                    <button
                      type="submit"
                      [disabled]="!resetPasswordForm.valid"> Submit
                    </button>
                  </div>
          
    
            </div>
        </form>
    </div>
</div>
<!-- Log In Section End -->