<!-- Sign Up Section Start -->
<div class="login-section">
    <div class="materialContainer">
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            {{successMessage}}
        </div>
        <form [formGroup]="forgotPasswordForm"  autocomplete="off" novalidate
        (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
        <div class="box">
            <div class="login-title">
                <h2>Forgot Password</h2>
            </div>
            <div class="input">
                <input
                type="text"
                id="email"
                formControlName="email"
                placeholder="Email"
                class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
                style="border: 1px solid #d3d5d8 !important;">
            </div>
            <div class="col-md-5">
                <em *ngIf="validateControl('email') && hasError('email', 'required')">
                  Email is required
                </em>
              </div>
              <br>
            <div class="col-md-5">
                <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
            </div>
            <div class="button login button-1">
                <button onclick="location.href = 'index.html';">
                    <span>Send</span>
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
<!-- Sign Up Section End -->