
    <div class="cart-box">
        <div class="cart-box-details">
            <div class="total-details">
                <div class="top-details">
                    <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async)">
                        <li class="d-flex justify-content-between py-3 border-bottom">
                            <strong class="text-muted">Order subtotal</strong>
                            <strong>&nbsp;&nbsp;{{(basketTotal$ | async).subtotal | currency}}</strong>
                        </li>
                        <li class="d-flex justify-content-between py-3 border-bottom">
                            <strong class="text-muted">Shipping and handling</strong>
                            <strong>&nbsp;&nbsp;{{(basketTotal$ | async).shipping | currency}}</strong>
                        </li>
                        <li class="d-flex justify-content-between py-3 border-bottom">
                            <strong class="text-muted">Total</strong>
                            <strong>&nbsp;&nbsp;{{(basketTotal$ | async).total | currency}}</strong>
                        </li>
                    </ul>
                </div>
                <div class="bottom-details">
                    <a routerLink="/checkout">Process Checkout</a>
                </div>
            </div>
        </div>
    </div>
