   <app-nav-bar></app-nav-bar>
   <!-- Breadcrumb section start -->
   <section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Blog Left Sidebar</h3>
                <nav>
                    <ol class="breadcrumb">
                       
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->










<!-- Blog Section Start -->
<section id="portfolio" class="left-sidebar-section masonary-blog-section section-b-space">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-9 col-md-7 order-md-1 ratio3_2">
                <div class="row g-4">
                    <div *ngFor="let blog of blogs" class="col-lg-4 col-md-6">
                        <div class="card blog-categority">
                            <a [routerLink]="['/blog/detail/',blog.id]" class="blog-img">
                                <img src="{{blog.photoUrl}}" alt=""
                                    class="card-img-top blur-up lazyload bg-img">
                            </a>
                            <div class="card-body">
                                <h5>{{blog.topic}}</h5>
                                <a href="blog-details.html">
                                    <h2 class="card-title">{{blog.title}}
                                    </h2>
                                </a>
                                <div class="blog-profile">
                                    <div class="image-name">
                                        <h3>John wike</h3>
                                        <h6>{{blog.publishTime|date:'medium'}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
<!-- 
                <nav class="page-section" *ngIf="totalCount > 0">
                    <ul class="pagination">
                      <app-paging
                        [pageSize]="shopParams.pageSize"
                        [totalCount]="totalCount"
                      (pageChanged)="onPageChanged($event)"
                      ></app-paging>
                    </ul>
                </nav> -->
            </div>
            <div class="col-lg-3 col-md-5">
                <div class="left-side">
                    <!-- Search Bar Start -->
                    <div class="search-section">
                        <div class="input-group search-bar">
                            <input (keyup.enter)="onSearch()" #search type="search" class="form-control search-input" placeholder="Search">
                            <button (click)="onSearch()" class="input-group-text search-button" id="basic-addon2">
                                <i class="fas fa-search text-color"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Search Bar End -->

                    <!-- Popular Post Start -->
                    <div class="popular-post mt-4">
                        <div class="popular-title">
                            <h3>Popular Posts</h3>
                        </div>

                        <div *ngFor="let blog of blogs" class="popular-image">
                            <div class="popular-number">
                                <h4 style="margin-top: 20px;" class="theme-color"><i class=" fa fa-thin fa-blog"></i></h4>
                            </div>
                            <div class="popular-contain">
                                <h3>{{blog.title}}</h3>
                                <div class="review-box">
                                    <span class="font-light clock-time"><i style="margin-top: 5px;" class="fa fa-clock"></i>{{blog.publishTime | date:'medium'}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Popular Post End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<app-footer></app-footer>