<div class="mt-4" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Shipping address</h2>
        <button 
            class="btn btn-outline-success mb-3"
        >
            Save as default address
        </button>
    </div>
    <form class="needs-validation"  [formGroup]="checkoutForm">
        <div class="row g-4" formGroupName="addressForm">
            <div class="col-md-6">
                <app-text-input [label]="'First Name'" formControlName="firstName"></app-text-input>
            </div>
            <div class="col-md-6">
                <app-text-input [label]="'Last Name'" formControlName="lastName"></app-text-input>
            </div>
            <div class="col-md-6">
                <app-text-input [label]="'Street'" formControlName="street"></app-text-input>
            </div>
            <div class="col-md-6">
                <app-text-input [label]="'City'" formControlName="city"></app-text-input>
            </div>
            <div class="col-md-6">
                <app-text-input [label]="'State'" formControlName="state"></app-text-input>
            </div>
            <div class="col-md-6">
                <app-text-input [label]="'Zip code'" formControlName="zipCode"></app-text-input>
            </div>
        </div>

        <hr class="my-lg-5 my-4">

        <button class="btn btn-solid-default mt-4" routerLink="/basket">
            <i class="fa fa-angle-left"></i>
            Back to Basket
        </button>
        <button class="btn btn-solid-default mt-4  ml-4" cdkStepperNext>
            Go to Delivery
              <i class="fa fa-angle-right"></i>
        </button>
      
    </form>
