 <!-- Cart Section Start -->
 <section class="section-b-space">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-8">
                <app-stepper [linearModeSelected]="false" #appStepper>
                    <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
                        <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                    </cdk-step>
                    <cdk-step [label]="'Delivery'" [completed]="(checkoutForm.get('deliveryForm')).valid">
                       <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                    </cdk-step>
                    <cdk-step [label]="'Review'">
                        <app-checkout-review></app-checkout-review>
                    </cdk-step>
                    <cdk-step [label]="'Payment'">
                    </cdk-step>
                </app-stepper>

            </div>
           

            <div class="col-lg-4">
                <div class="your-cart-box">
                    <h3 class="mb-3 d-flex text-capitalize">Your cart<span
                            class="badge bg-theme new-badge rounded-pill ms-auto bg-dark">3</span>
                    </h3>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <app-order-totals></app-order-totals>
                        </li>
                        
                    </ul>

                    <form class="card border-0">
                        <div class="input-group custome-imput-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-solid-default rounded-0">Redeem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->