 <!-- Cart Section Start -->
 <section class="section-b-space">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-8">
                <h3 class="mb-3">Billing address</h3>
                <form class="needs-validation">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <label for="fname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="fname" placeholder="Enter First Name">
                        </div>
                        <div class="col-md-6">
                            <label for="lname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
                        </div>
                        <div class="col-md-6">
                            <label for="lname" class="form-label">Username</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input type="text" class="form-control" placeholder="Username" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="example@example.com"
                                required>
                        </div>

                        <div class="col-md-6">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" aria-describedby="emailHelp"
                                placeholder="1234 Main St" required>
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="address2" class="form-label">Address 2</label>
                            <input type="text" class="form-control" id="address2" aria-describedby="emailHelp"
                                placeholder="1234 Main St" required>
                        </div>

                        <div class="col-md-5">
                            <label for="validationCustom04" class="form-label">Country</label>
                            <select class="form-select custome-form-select" id="validationCustom04">
                                <option selected disabled value="">Choose...</option>
                                <option>United States</option>
                                <option>India</option>
                                <option>America</option>
                                <option>South America</option>
                                <option>Dubai</option>
                                <option>Hong Kong</option>
                                <option>Indonesia</option>
                                <option>Pakistan</option>
                                <option>Saudi Arabia</option>
                                <option>China</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom04" class="form-label">State</label>
                            <select class="form-select custome-form-select" id="validationCustom05">
                                <option selected disabled value="">Choose...</option>
                                <option>Bhutan</option>
                                <option>Burundi</option>
                                <option>Comoros</option>
                                <option>Dilhi</option>
                                <option>Mumbai</option>
                                <option>Surat</option>
                                <option>Abu & Ambaji</option>
                                <option>Japan</option>
                                <option>Cuba</option>
                                <option>Zambia</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="zip" aria-describedby="emailHelp"
                                placeholder="1234 Main St">
                        </div>
                    </div>
                    <div class="form-check ps-0 mt-3 custome-form-check">
                        <input class="checkbox_animated check-it" type="checkbox" id="flexCheckDefault11">
                        <label class="form-check-label checkout-label" for="flexCheckDefault11">Save this
                            information for next time</label>
                    </div>

                    <hr class="my-lg-5 my-4">

                    <h3 class="mb-3">Payment</h3>

                    <div class="d-block my-3">
                        <div class="form-check custome-radio-box">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="credit">
                            <label class="form-check-label" for="credit">Credit card</label>
                        </div>

                        <div class="form-check custome-radio-box">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="debit">
                            <label class="form-check-label" for="debit">Debit card</label>
                        </div>

                        <div class="form-check custome-radio-box">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="paypal">
                            <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <label for="cc-name" class="form-label">Name on card</label>
                            <input type="text" class="form-control" id="cc-name">
                            <div id="emailHelp" class="form-text">Full name as displayed on card</div>
                        </div>
                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" required="">
                            <div class="invalid-feedback">Credit card number is required</div>
                        </div>
                        <div class="col-md-3">
                            <label for="expiration" class="form-label">Expiration</label>
                            <input type="text" class="form-control" id="expiration">
                        </div>
                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv">
                        </div>
                    </div>
                    <button class="btn btn-solid-default mt-4" type="submit">Continue
                        to checkout</button>
                </form>
            </div>

            <div class="col-lg-4">
                <div class="your-cart-box">
                    <h3 class="mb-3 d-flex text-capitalize">Your cart<span
                            class="badge bg-theme new-badge rounded-pill ms-auto bg-dark">3</span>
                    </h3>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <app-order-totals></app-order-totals>
                        </li>
                        
                    </ul>

                    <form class="card border-0">
                        <div class="input-group custome-imput-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-solid-default rounded-0">Redeem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->