<section class="shop area py-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="img-box">
            <img class="img-fluid" src="{{product.photoUrl}}" alt="01 Shop">
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div *ngIf="product" class="text-box-details">
            <h3 class="title-product">{{product.name}}</h3>
            <hr>
            <div class="item-price">
              {{product.price|currency}}
            </div> 
            <br>
            <p>{{product.description}}</p>
            <ul class="list-details">
              <li><span>Category:</span>{{product.productType}}</li> <br>
              <li><span>Brand:</span>{{product.productBrand}}</li>
            </ul>
            <!-- <button class="btn btn-danger mt-3" (click)="deleteProduct(product);modalRef.hide()">Delete</button> -->

          </div>
        </div>
      </div>
    </div>
  </section>
  