 <!-- Cart Section Start -->
 <section class="cart-section section-b-space">
    <div *ngIf="(basket$ | async) as basket" class="container">
        <div class="row">
            <div class="col-12">
                <div class="count-down">
                    <h5>Your cart will be expired in <span class="count-timer theme-color" id="timer"></span>
                        minutes !</h5>
                    <button type="button" onclick="location.href = 'checkout.html';"
                        class="btn btn-solid-default btn-sm fw-bold">Check Out</button>
                </div>
            </div>

            <app-basket-summary
                (decrement)="decrementItemQuantity($event)"
                (increment)="incrementItemQuantity($event)"
                (remove)="removeBasketItem($event)"
            ></app-basket-summary>

            <div class="col-12 mt-md-5 mt-4">
                <div class="row">
                    <div class="col-sm-7 col-5 order-1">
                        <div class="left-side-button text-end d-flex d-block justify-content-end">
                            <a href="javascript:void(0)"
                                class="text-decoration-underline theme-color d-block text-capitalize">clear
                                all items</a>
                        </div>
                    </div>
                    <div class="col-sm-5 col-7">
                        <div class="left-side-button float-start">
                            <a routerLink="/shop"class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                                <i class="fas fa-arrow-left"></i> Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-checkout-section">
                <div class="row g-4">
                    <div class="col-lg-4 col-sm-6">
                        <div class="promo-section">
                            <form class="row g-3">
                                <div class="col-7">
                                    <input type="text" class="form-control" id="number" placeholder="Coupon Code">
                                </div>
                                <div class="col-5">
                                    <button class="btn btn-solid-default rounded btn">Apply Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 ">
                        <div class="checkout-button">
                            <a routerLink="/checkout" class="btn btn-solid-default btn fw-bold">
                                Check Out <i class="fas fa-arrow-right ms-1"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <app-order-totals></app-order-totals>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!(basket$ | async) as basket">
        <div  class="container">
            <div class="row">
                <div class="col-sm-12 table-responsive mt-4">
                    <table class="table cart-table">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">No item</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    There is no item in your basket.
                                </td>
                            </tr>
                        </tbody>
                       
                    </table>
                </div>
    
                <div class="col-12 mt-md-5 mt-4">
                    <div class="row">
                        <div class="col-sm-5 col-7">
                            <div class="left-side-button float-start">
                                <a routerLink="/shop"class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                                    <i class="fas fa-arrow-left"></i> Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->