<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Contact Us</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->

<!-- Contact Section Start -->
<section class="contact-section">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-7">
                <div class="materialContainer">
                    <form  [formGroup]="contactform" (ngSubmit)="onSubmit()">
                        <div class="row">
              
                          <div class="col-md-6 form-item">
                            <input formControlName="name" type="text" name="name" placeholder="Name">
                            <div class="validation alert alert-danger" *ngIf="_name.invalid && _name.touched">
                              <div *ngIf="_name.errors?.required">
                                Name required
                              </div>
                            </div>
                          </div>
              
                          <div class="col-md-6 form-item">
                            <input formControlName="email" type="email" name="email" placeholder="Email">
                            <div class="validation alert alert-danger" *ngIf="_email.invalid && _email.touched">
                              <div *ngIf="_email.errors?.required">
                                Email required
                              </div>
                            </div>
                          </div>
              
                          <div class="col-md-6 form-item">
                            <input formControlName="phone" type="tel" name="tel" placeholder="Phone">
                            <div class="validation alert alert-danger" *ngIf="_phone.invalid && _phone.touched">
                              <div *ngIf="_phone.errors?.required">
                                Phone required
                              </div>
                            </div>
                          </div>
              
                          <div class="col-md-6 form-item">
                            <input formControlName="subject" type="tel" name="tel" placeholder="Subject">
                            <div class="validation alert alert-danger" *ngIf="_subject.invalid && _subject.touched">
                              <div *ngIf="_subject.errors?.required">
                                Subject required
                              </div>
                            </div>
                          </div>
              
                          <div class="col-md-12 form-item">
                            <textarea formControlName="message" placeholder="Leave Your Message Here....."></textarea>
                            <div class="validation alert alert-danger" *ngIf="_message.invalid && _message.touched">
                              <div *ngIf="_message.errors?.required">
                                Message required
                              </div>
                            </div>
                          </div>
              
                          <div class="col-md-12 form-item">
                            <button type="submit" [disabled]="contactform.invalid" class="btn-1">Send Message</button>
                          </div>
              
                        </div>
                      </form>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="contact-details">
                    <div>
                        <h2>Let's get in touch</h2>
                        <h5 class="font-light">We're open for any suggestion or just to have a chat</h5>
                        <div class="contact-box">
                            <div class="contact-icon">
                                <i data-feather="map-pin"></i>
                            </div>
                            <div class="contact-title">
                                <h4>Address :</h4>
                                <p>1418 Riverwood Drive, Suite 3245 Cottonwood, CA 96052, United States</p>
                            </div>
                        </div>

                        <div class="contact-box">
                            <div class="contact-icon">
                                <i data-feather="phone"></i>
                            </div>
                            <div class="contact-title">
                                <h4>Phone Number :</h4>
                                <p>+ 185659635</p>
                                <p>+ 658651167</p>
                            </div>
                        </div>

                        <div class="contact-box">
                            <div class="contact-icon">
                                <i data-feather="mail"></i>
                            </div>
                            <div class="contact-title">
                                <h4>Email Address :</h4>
                                <p>voxo123@gmail.com</p>
                                <p>voxo987@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->