<header class="header header-6">
    <div class="header-top">
        <div [class]="containerClass">
            <div class="header-left">
                <ul class="top-menu top-link-menu">
                    <li>
                        <a href="javascript:;">Links</a>
                        <ul>
                            <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <div class="social-icons social-icons-color d-none d-md-flex">
                    <a href="javascript:;" class="social-icon social-facebook" title="Facebook"><i
                            class="icon-facebook-f"></i></a>
                    <a href="javascript:;" class="social-icon social-twitter" title="Twitter"><i
                            class="icon-twitter"></i></a>
                    <a href="javascript:;" class="social-icon social-pinterest" title="Pinterest"><i
                            class="icon-pinterest-p"></i></a>
                    <a href="javascript:;" class="social-icon social-instagram" title="Instagram"><i
                            class="icon-instagram"></i></a>
                </div>

                <ul class="top-menu top-link-menu">
                    <li>
                        <a href="javascript:;">Links</a>
                        <ul>
                            <li><a href="javascript:;" (click)="showLoginModal($event)"><i class="icon-user"></i>Login</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="header-dropdown">
                    <a href="javascript:;">USD</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="javascript:;">Eur</a></li>
                            <li><a href="javascript:;">Usd</a></li>
                        </ul>
                    </div>
                </div>

                <div class="header-dropdown">
                    <a href="javascript:;">Eng</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="javascript:;">English</a></li>
                            <li><a href="javascript:;">French</a></li>
                            <li><a href="javascript:;">Spanish</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div [class]="containerClass">
            <div class="header-left">
                <molla-header-search></molla-header-search>
            </div>
            <div class="header-center">
                <a routerLink="/" class="logo">
                    <img src="assets/images/home/logo.png" class="bg-transparent" alt="Molla Logo" width="82"
                        height="20">
                </a>
            </div>
            <div class="header-right">
                <molla-wishlist-menu></molla-wishlist-menu>

                <molla-cart-menu></molla-cart-menu>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper" [style.height]="utilsService.isSticky? utilsService.stickyHeight + 'px' : '' ">
        <div class="header-bottom sticky-header" [class.fixed]="utilsService.isSticky">
            <div [class]="containerClass">
                <div class="header-left">
                    <molla-main-menu></molla-main-menu>

                    <molla-mobile-button></molla-mobile-button>
                </div>

                <div class="header-right">
                    <i class="icon-medapps"></i>
                    <p class="text-truncate">Clearance Up to 30% Off</p>
                </div>
            </div>
        </div>
    </div>
</header>