 <!-- Oder Details Section Start -->
 <!-- <app-nav-bar></app-nav-bar> -->
 <section class="section-b-space cart-section order-details-table">
    <div class="container">
        <div class="title title1 title-effect mb-1 title-left">
            <h2 class="mb-3">&nbsp;&nbsp;&nbsp;&nbsp; Order Details</h2>
        </div>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="col-sm-12 table-responsive">
                    <table class="table cart-table table-borderless">
                        <tbody>
                            <tr *ngFor="let order of orders" [routerLink]="['/orders/{{order.id}}']" routerLinkActive="router-link-active"  class="table-order">
                               
                                <td>
                                    <p>Order</p>
                                    <h5>#{{order.id}}</h5>
                                </td>
                                <td>
                                    <p>Date</p>
                                    <h5>{{order.orderDate | date: 'medium'}}</h5>
                                </td>
                                <td>
                                    <p>Total</p>
                                    <h5>{{order.subtotal | currency}}</h5>
                                </td>
                                <td>
                                    <p>Status</p>
                                    <h5>{{order.status}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
         
        </div>
    </div>
</section>
<!-- Order Details Section End -->
<app-footer></app-footer>