  <section class="section products-main">
      <div class="container">
          <section class="col-3">
            <h5 class="text-warning ml-3">Sort</h5>
            <select class="custom-select mb-3">
                <option selected>Alphabetical</option>
                <option>Price: Low to High</option>
                <option>Price: High to Low</option>
            </select>

              <h5 class="text-warning ml-3">Brands</h5>
              <ul class="list-group my-3">
                  <li class="list-group-item active">Lorem ipsum</li>
                  <li class="list-group-item">Lorem ipsum</li>
                  <li class="list-group-item">Lorem ipsum</li>
                  <li class="list-group-item">Lorem ipsum</li>
                  <li class="list-group-item">Lorem ipsum</li>
              </ul>
              <h5 class="text-warning ml-3">Types</h5>
              <ul class="list-group my-3">
                  <li class="list-group-item active">Lorem ipsum</li>
                  <li class="list-group-item">Lorem ipsum</li>
                  <li class="list-group-item">Lorem ipsum</li>
                  <li class="list-group-item">Lorem ipsum</li>
                  <li class="list-group-item">Lorem ipsum</li>
              </ul>
          </section>
            <!-- <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="title text-center">
                        <h2>New arrivals</h2>
                        <p>The best Online sales to shop these weekend</p>
                    </div>
                </div>
            </div> -->
    
    
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <header>
                    <span>Showing <strong>10</strong> of <strong>16</strong> Results</span>
                </header>
                <div class="form-inline mt-2">
                    <input class="form-control mr-2" style="width: 300px;" placeholder="Search"type="text">
                    <button class="btn btn-outline-primary my-2">Search</button>
                    <button class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
                    <div class="product">
                      <div class="product-wrap">
                          <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/322.jpg" alt="product-img" /></a>
                          <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a>
                      </div>
          
                      <span class="onsale">Sale</span>
                      <div class="product-hover-overlay">
                          <a href="#"><i class="tf-ion-android-cart"></i></a>
                          <a href="#"><i class="tf-ion-ios-heart"></i></a>
                        </div>
          
                      <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a href="#">Floral Kirby</a></h2>
                          <span class="price">
                              $329.10
                          </span>
                      </div>
                  </div>
                </div>
          
                <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
                  <div class="product">
                      <div class="product-wrap">
                          <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/111.jpg" alt="product-img" /></a>
                          <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a>
                      </div>
          
                      <div class="product-hover-overlay">
                          <a href="#"><i class="tf-ion-android-cart"></i></a>
                          <a href="#"><i class="tf-ion-ios-heart"></i></a>
                        </div>
                        
                      <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a href="#">Open knit switer</a></h2>
                          <span class="price">
                              $29.10
                          </span>
                      </div>
                  </div>
                </div>
          
                <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
                  <div class="product">
                      <div class="product-wrap">
                          <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/222.jpg" alt="product-img" /></a>
                          <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/322.jpg" alt="product-img" /></a>
                      </div>
          
                      <span class="onsale">Sale</span>
                      <div class="product-hover-overlay">
                          <a href="#"><i class="tf-ion-android-cart"></i></a>
                          <a href="#"><i class="tf-ion-ios-heart"></i></a>
                        </div>
          
                      <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a href="#">Official trendy</a></h2>
                          <span class="price">
                              $350.00 – $355.00
                          </span>
                      </div>
                  </div>
                </div>
          
                <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
                  <div class="product">
                      <div class="product-wrap">
                          <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/322.jpg" alt="product-img" /></a>
                          <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/111.jpg" alt="product-img" /></a>
                      </div>
          
                      <div class="product-hover-overlay">
                          <a href="#"><i class="tf-ion-android-cart"></i></a>
                          <a href="#"><i class="tf-ion-ios-heart"></i></a>
                        </div>
          
                      <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a href="#">Frock short</a></h2>
                          <span class="price">
                              $249
                          </span>
                      </div>
                  </div>
                </div>
          
                <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
                  <div class="product">
                      <div class="product-wrap">
                          <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/444.jpg" alt="product-img" /></a>
                          <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/222.jpg" alt="product-img" /></a>
                      </div>
          
                      <div class="product-hover-overlay">
                          <a href="#"><i class="tf-ion-android-cart"></i></a>
                          <a href="#"><i class="tf-ion-ios-heart"></i></a>
                        </div>
          
                      <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                          <span class="price">
                              $59.10
                          </span>
                      </div>
                  </div>
                </div>
          
                <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
                  <div class="product">
                      <div class="product-wrap">
                          <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/322.jpg" alt="product-img" /></a>
                          <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/222.jpg" alt="product-img" /></a>
                      </div>
          
                      <div class="product-hover-overlay">
                          <a href="#"><i class="tf-ion-android-cart"></i></a>
                          <a href="#"><i class="tf-ion-ios-heart"></i></a>
                        </div>
          
                      <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a href="#">Stylish dress</a></h2>
                          <span class="price">
                              $99.00
                          </span>
                      </div>
                  </div>
                </div>
          
                <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 " >
                  <div class="product">
                      <div class="product-wrap">
                          <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/111.jpg" alt="product-img" /></a>
                          <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a>
                      </div>
          
                      <div class="product-hover-overlay">
                          <a href="#"><i class="tf-ion-android-cart"></i></a>
                          <a href="#"><i class="tf-ion-ios-heart"></i></a>
                        </div>
          
                      <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a href="#">Body suite</a></h2>
                          <span class="price">
                              $329.10
                          </span>
                      </div>
                  </div>
                </div>
          
               <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 " >
                  <div class="product">
                      <div class="product-wrap">
                          <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/222.jpg" alt="product-img" /></a>
                          <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/322.jpg" alt="product-img" /></a>
                      </div>
          
                      <div class="product-hover-overlay">
                          <a href="#"><i class="tf-ion-android-cart"></i></a>
                          <a href="#"><i class="tf-ion-ios-heart"></i></a>
                        </div>
          
                      <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a href="#">Sleeve linen shirt</a></h2>
                          <span class="price">
                              <del>60<pre wp-pre-tag-5=""></pre>lt;</del>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
        </section>
      </div>
    </section>
 