

<!-- Shop Section start -->
<section class="section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12 ratio_30">
        <div class="banner-deatils">
          <div class="banner-image">
            <img src="assets/images/fashion/banner.jpg" class="img-fluid bg-img  lazyload"
                 alt="">
            <div class="banner-content">
              <div>
                <h3>Shop The Latest Trends</h3>
                <p>Shop the latest clothing trends with our weekly edit of what's new in online at
                  Voxo. From out latest woman collection.</p>
              </div>
            </div>
          </div>
          <div class="banner-contain mt-3 mb-5">
            <p class="font-light">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen
              book. It has survived not only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged.</p>
          </div>
        </div>
        <!-- filter button -->
        <div class="hide-button mb-3">
          <button class="danger-button danger-center btn btn-sm" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"><i class="me-2" data-feather="align-left"></i>Filter</button>
        </div>
        <!-- filter button -->
        <div class="row g-4">
          <!-- label and featured section -->
          <div class="col-12">
            <ul class="short-name">
              <li>
                <div class="label-tag">
                  <span>Shirts</span>
                  <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
              </li>
              <li>
                <div class="label-tag">
                  <span>Kurtas</span>
                  <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
              </li>
              <li>
                <div class="label-tag">
                  <span>Jackets</span>
                  <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
              </li>
              <li>
                <div class="label-tag">
                  <span>Blazers</span>
                  <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
              </li>
              <li>
                <div class="label-tag">
                  <a href="javascript:void(0)"><span>Clear All</span></a>
                </div>
              </li>
            </ul>
          </div>


          <div class="d-flex justify-content-between align-items-center pb-2">

            <div class="form-inline mt-2">
                <input (keyup.enter)="onSearch()"  type="text" class="form-control mr-2" #search placeholder="Search">
                <button (click)="onSearch()"  class="btn btn-outline-primary my-2">Search</button>
                <button (click)="onReset()"  class="btn btn-outline-success ml-2 my-2">Reset</button>
            </div>
        </div>

          <div class="col-12">
            <div class="filter-options">
              <div class="select-options">
                <div class="page-view-filter">
                  <div class="dropdown select-featured">
                    <select
                      name="orderby"
                      class="orderby form-control"
                      aria-label="Shop order"
                      (change)="onSortSelected($any($event.target).value)" >
                      <option value="Select">Sort</option>
                      <option *ngFor="let sort of sortOptions"
                      [value]="sort.value">
                      {{sort.name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="grid-options d-sm-inline-block d-none">
                <app-paging-header
                  [totalCount]="totalCount"
                  [pageSize]="this.shopParams.pageSize"
                  [pageNumber]="this.shopParams.pageNumber"
                ></app-paging-header>
              </div>

              


            </div>
          </div>
        </div>
        <!-- label and featured section -->

        <!-- Prodcut setion -->
        <div
          class="row g-sm-4 g-3 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 gx-sm-4 gx-3 mt-1 custom-gy-5 product-style-2 ratio_asos product-list-section">
          <div *ngFor="let item of products">
            <app-product-item [product]="item"></app-product-item>
          </div>
        </div>
         <!-- Prodcut setion -->
       
         <nav class="page-section" *ngIf="totalCount > 0">
          <ul class="pagination">
            <app-paging
              [pageSize]="shopParams.pageSize"
              [totalCount]="totalCount"
            (pageChanged)="onPageChanged($event)"
            ></app-paging>
          </ul>
      </nav>
      

        
      </div>
    </div>
  </div>
</section>
<!-- Shop Section end -->




  <!-- Offcanvas Section Start -->
  <div class="offcanvas custome-offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-body">
      <div data-bs-dismiss="offcanvas" aria-label="Close" class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Close</h5>
          <button type="button" class="btn-close text-reset"></button>
      </div>
      <div class="category-option">
          <div class="accordion category-name" id="accordionExample">

              <div class="accordion-item category-rating">
                  <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo">
                          Brand
                      </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse show"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body category-scroll">
                          <ul class="category-list">
                              <li *ngFor="let brand of brands"
                              [class.active]="brand.id === this.shopParams.brandId"
                              [value]="brand.id"
                              (click)="onBrandSelected(brand.id)">
                                  <div class="form-check ps-0 custome-form-check">
                                      <input class="checkbox_animated check-it" type="checkbox"
                                          id="flexCheckDefault1">
                                      <label class="form-check-label" for="flexCheckDefault1">{{brand.name}}</label>
                                      <p class="font-light">(25)</p>
                                  </div>
                              </li>
                             
                          </ul>
                      </div>
                  </div>
              </div>


              

              <div class="accordion-item category-color">
                  <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree">
                          Color
                      </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <ul class="category-list">
                              <li>
                                  <a href="javascript:void(0)">
                                      <i class="fas fa-check"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0)">
                                      <i class="fas fa-check"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0)">
                                      <i class="fas fa-check"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0)">
                                      <i class="fas fa-check"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0)">
                                      <i class="fas fa-check"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0)">
                                      <i class="fas fa-check"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0)">
                                      <i class="fas fa-check"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0)">
                                      <i class="fas fa-check"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0)">
                                      <i class="fas fa-check"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="accordion-item category-price">
                  <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseFour">
                          Price
                      </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <div class="range-slider category-list">
                              <input type="text" class="js-range-slider" value="" />
                          </div>
                      </div>
                  </div>
              </div>

              <div class="accordion-item category-rating">
                  <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne">
                          Type
                      </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                      <div class="accordion-body category-scroll">
                          <ul class="category-list">
                              <li *ngFor="let type of types"
                              [class.active]="type.id === this.shopParams.typeId"
                              [value]="type.id"
                              (click)="onTypeSelected(type.id)">
                                  <div class="form-check ps-0 custome-form-check">
                                      <input class="checkbox_animated check-it" type="checkbox"
                                          id="flexCheckDefault10">
                                      <label class="form-check-label" for="flexCheckDefault10">{{type.name}}</label>
                                      <p class="font-light">(25)</p>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseFive">
                          Discount Range
                      </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <ul class="category-list">
                              <li>
                                  <div class="form-check ps-0 custome-form-check">
                                      <input class="checkbox_animated check-it" type="checkbox"
                                          id="flexCheckDefault19">
                                      <label class="form-check-label" for="flexCheckDefault19">5% and
                                          above</label>
                                  </div>
                              </li>
                              <li>
                                  <div class="form-check ps-0 custome-form-check">
                                      <input class="checkbox_animated check-it" type="checkbox"
                                          id="flexCheckDefault20">
                                      <label class="form-check-label" for="flexCheckDefault20">10% and
                                          above</label>
                                  </div>
                              </li>
                              <li>
                                  <div class="form-check ps-0 custome-form-check">
                                      <input class="checkbox_animated check-it" type="checkbox"
                                          id="flexCheckDefault21">
                                      <label class="form-check-label" for="flexCheckDefault21">20% and
                                          above</label>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Offcanvas Section End -->