<!-- header start -->
<header class="header-style-2" id="home">
  <div class="main-header navbar-searchbar">
    <div class="container-fluid-lg">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-menu">
            <div class="menu-left">
              <div class="brand-logo">
                <a href="index.html">
                  <svg class="svg-icon">
                    <use
                      class="fill-color"
                      xlink:href="assets/svg/icons.svg#logo"
                    ></use>
                  </svg>
                  <img
                    src="assets/images/logo.png"
                    routerLink="/"
                    class="img-fluid blur-up lazyload"
                    alt="logo"
                  />
                </a>
              </div>
              <div class="category-menu">
                <div class="category-dropdown">
                  <div class="close-btn d-xl-none">
                    Category List
                    <span class="back-category"
                      ><i class="fa fa-angle-left"></i>
                    </span>
                  </div>
                  <ul>
                    <li class="submenu">
                      <a href="javascript:void(0)">watches</a>
                      <ul class="category-mega-menu">
                        <li>
                          <div class="row">
                            <div class="col-xl-3">
                              <div class="category-childmenu">
                                <div class="title-category">
                                  <h6>Watch Brands</h6>
                                </div>
                                <ul>
                                  <li>
                                    <a href="shop-left-sidebar.html">Coros</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Titan</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Citizen</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Casio</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Movado</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Tissot</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-xl-3">
                              <div class="category-childmenu">
                                <div class="title-category">
                                  <h6>Watch Display</h6>
                                </div>
                                <ul>
                                  <li>
                                    <a href="shop-left-sidebar.html">Analog</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Digital</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Hybrid</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Tactile</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >Touchscreen</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-xl-3">
                              <div class="category-childmenu">
                                <div class="title-category">
                                  <h6>Watch Style</h6>
                                </div>
                                <ul>
                                  <li>
                                    <a href="shop-left-sidebar.html">Casual</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Dress</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Fashion</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Luxury</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-xl-3">
                              <div class="category-banner">
                                <img
                                  src="assets/images/electronics/banner/4.jpg"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a href="shop-left-sidebar.html">footwear</a>
                    </li>

                    <li class="submenu">
                      <a href="javascript:void(0)">clothing</a>
                      <ul class="category-mega-menu">
                        <li>
                          <div class="row">
                            <div class="col-xl-3">
                              <div class="category-childmenu">
                                <div class="title-category">
                                  <h6>Women's fashion</h6>
                                </div>
                                <ul>
                                  <li>
                                    <a href="shop-left-sidebar.html">Dress</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">Skirts</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >Western wear</a
                                    >
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >Etahnic wear</a
                                    >
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >Sports wear</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-xl-3">
                              <div class="category-childmenu">
                                <div class="title-category">
                                  <h6>Men's fashion</h6>
                                </div>
                                <ul>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >Sports wear</a
                                    >
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >Etahnic wear</a
                                    >
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >Western wear</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-xl-3">
                              <div class="category-childmenu">
                                <div class="title-category">
                                  <h6>Accesories</h6>
                                </div>
                                <ul>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >earrings</a
                                    >
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >fashion jewellery</a
                                    >
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html">ties</a>
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >caps and hats</a
                                    >
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >cufflinks</a
                                    >
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >precious jewellery</a
                                    >
                                  </li>
                                  <li>
                                    <a href="shop-left-sidebar.html"
                                      >necklaces</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-xl-3">
                              <div class="category-banner">
                                <img
                                  src="assets/images/banner/1.jpg"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a href="shop-left-sidebar.html">Accessories</a>
                    </li>
                    <li>
                      <a href="shop-left-sidebar.html">Home & decor</a>
                    </li>
                    <li>
                      <a href="shop-left-sidebar.html">Bags</a>
                    </li>
                    <li>
                      <a href="shop-left-sidebar.html">Kitchan</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <nav>
              <div class="main-navbar">
                <div id="mainnav">
                  <div class="toggle-nav">
                    <i class="fa fa-bars sidebar-bar"></i>
                  </div>
                  <ul class="nav-menu">
                    <li class="back-btn d-xl-none">
                      <div class="close-btn">
                        Menu
                        <span class="mobile-back"
                          ><i class="fa fa-angle-left"></i>
                        </span>
                      </div>
                    </li>
                    <li class="dropdownn mega-menu home-menu">
                      <a [routerLink]="['/']" class="nav-link menu-title"
                        >home</a
                      >
                    </li>
                    <li class="dropdownn">
                      <a routerLink="/shop" class="nav-link menu-title">shop</a>
                    </li>
                    <li class="dropdownn">
                      <a routerLink="/blog" class="nav-link menu-title">blog</a>
                    </li>
                    <li class="dropdownn">
                      <a routerLink="/about" class="nav-link menu-title"
                        >about us</a
                      >
                    </li>
                    <li class="dropdownn">
                      <a routerLink="/contact" class="nav-link menu-title"
                        >contact</a
                      >
                    </li>

                    <!-- <li>
                      <a routerLink="/test-error" class="nav-link menu-title"
                        >Errors</a
                      >
                    </li> -->

                    <!-- <a routerLink="/basket" class="position-relative">
                      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
                      <div class="cart-no">5</div>
                    </a> -->

                    <li class="mobile-poster d-flex d-xl-none">
                      <img
                        src="assets/images/pwa.png"
                        class="img-fluid"
                        alt=""
                      />
                      <div class="mobile-contain">
                        <h5>Enjoy app-like experience</h5>
                        <p class="font-light">
                          With this Screen option you can use Website like an
                          App.
                        </p>
                        <a
                          href="javascript:void(0)"
                          id="installApp"
                          class="btn btn-solid-default btn-spacing w-100"
                          >ADD TO HOMESCREEN</a
                        >
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <div class="menu-right">
              <ul>
                <li>
                  <div class="search-box">
                    <!-- <i class="fa fa-solid fa-search"></i> -->
                  </div>
                </li>
                <li class="onhover-dropdown">
                  <ng-container *ngIf="(currentUser$ | async) === null">
                    <div class="cart-media">
                      <i class="fa fa-solid fa-user"></i>
                    </div>
                    <div class="onhover-div profile-dropdown">
                      <ul>
                        <li>
                          <a routerLink="/account/login" class="d-block"
                            >Login</a
                          >
                        </li>
                        <li>
                          <a routerLink="/account/register" class="d-block"
                            >Register</a
                          >
                        </li>
                      </ul>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="currentUser$ | async">
                    <a href=""
                      >Welcome {{ (currentUser$ | async).displayName }}</a
                    >
                    <div class="onhover-div profile-dropdown">
                      <ul>
                        <li>
                          <a routerLink="/basket" class="d-block">
                            <i class="fa fa-shopping-cart mr-3"></i> View
                            Basket</a
                          >
                        </li>
                        <li>
                          <a routerLink="/orders" class="d-block">
                            <i class="fa fa-history mr-3"></i> View Orders</a
                          >
                        </li>
                        <li>
                          <a (click)="logout()" class="d-block">
                            <i class="fa fa-sign-out mr-3"></i> Logout</a
                          >
                        </li>
                      </ul>
                    </div>
                  </ng-container>
                </li>
                <li class="onhover-dropdown wislist-dropdown">
                  <div class="cart-media">
                    <a href="wishlist.html">
                      <i data-feather="heart"></i>
                      <!-- <span class="label label-theme rounded-pill">{{ (basket$ | async).items.length }}</span> -->
                    </a>
                  </div>
                  <div class="onhover-div">
                    <a [routerLink]="['/basket']">
                      <div class="wislist-empty">
                        <i class="fab fa-gratipay"></i>
                        <h6 class="mb-1">Your wislist empty !!</h6>
                        <p class="font-light mb-0">
                          explore more and shortlist items.
                        </p>
                      </div>
                    </a>
                  </div>
                </li>
                <li
                  *ngIf="currentUser$ | async"
                  class="onhover-dropdown cart-dropdown"
                >
                  <button
                    routerLink="/basket"
                    type="button"
                    class="btn btn-solid-default btn-spacing"
                  >
                    <i class="fa fa-shopping-cart mr-3"></i>
                    <span>{{
                      (basketTotal$ | async).subtotal | currency
                    }}</span>
                    <span *ngIf="!(basket$ | async) as basket">0 $</span>
                  </button>
                  <div class="onhover-div">
                    <div class="cart-menu">
                      <div class="cart-title">
                        <h6>
                          <i data-feather="shopping-bag"></i>
                          <span>Items: &nbsp;&nbsp;&nbsp;</span>
                          <span
                            *ngIf="basket$ | async"
                            class="label label-theme rounded-pill"
                            >{{ (basket$ | async).items.length }}</span
                          >
                        </h6>
                        <span class="d-md-none d-block">
                          <i class="fas fa-arrow-right back-cart"></i>
                        </span>
                      </div>
                      <ul class="custom-scroll">
                        <li *ngFor="let item of (basket$ | async).items">
                          <div class="media">
                            <img
                              src="{{ item.photoUrl }}"
                              class="img-fluid blur-up lazyload"
                              alt=""
                            />
                            <div class="media-body">
                              <h6>{{ item.productName }}</h6>
                              <div class="qty-with-price">
                                <span>{{ item.price | currency }}</span>
                                <span>
                                  {{ item.quantity }}
                                </span>
                              </div>
                            </div>
                            <a>
                              <i
                                style="margin-bottom: 100px"
                                *ngIf="isBasket"
                                (click)="removeBasketItem(item)"
                                class="fas fa-times"
                              >
                              </i>
                            </a>
                          </div>
                        </li>
                        <!-- <li>
                          <div class="media">
                            <img
                              src="assets/images/fashion/product/front/7.jpg"
                              class="img-fluid blur-up lazyload"
                              alt=""
                            />
                            <div class="media-body">
                              <h6>Womens Stylish Jacket</h6>
                              <div class="qty-with-price">
                                <span>$24.00</span>
                                <span>
                                  <input
                                    type="number"
                                    class="form-control"
                                    value="1"
                                  />
                                </span>
                              </div>
                            </div>
                            <button
                              type="button"
                              class="btn-close d-block d-md-none"
                              aria-label="Close"
                            >
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </li> -->
                      </ul>
                    </div>
                    <div class="cart-btn">
                      <h6 class="cart-total">
                        <span class="font-light">Total:</span>
                        {{ (basketTotal$ | async).subtotal | currency }}
                      </h6>
                      <button
                        routerLink="/basket"
                        type="button"
                        class="btn btn-solid-default btn-block"
                      >
                        Proceed to payment
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="search-full">
              <div class="input-group">
                <span class="input-group-text">
                  <!-- <i data-feather="search" class="font-light"></i> -->
                  <button class="font-light">Search</button>
                </span>
                <input
                  type="text"
                  class="form-control search-type"
                  placeholder="Search here.."
                />
                <span class="input-group-text close-search">
                  <i data-feather="x" class="font-light"></i>
                </span>
              </div>
              <div class="search-suggestion">
                <ul class="custom-scroll">
                  <li>
                    <div class="product-cart media">
                      <img
                        src="assets/images/electronics/product/1.jpg"
                        class="img-fluid blur-up lazyload"
                        alt=""
                      />
                      <div class="media-body">
                        <a href="javascript:void(0)">
                          <h6 class="mb-1">New Smart Watch 4 ERT2</h6>
                        </a>
                        <ul class="rating p-0">
                          <li>
                            <i class="fas fa-star theme-color"></i>
                          </li>
                          <li>
                            <i class="fas fa-star theme-color"></i>
                          </li>
                          <li>
                            <i class="fas fa-star theme-color"></i>
                          </li>
                          <li>
                            <i class="fas fa-star"></i>
                          </li>
                          <li>
                            <i class="fas fa-star"></i>
                          </li>
                        </ul>
                        <p class="mb-0 mt-1">$28.00</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="product-cart media">
                      <img
                        src="assets/images/electronics/product/5.jpg"
                        class="img-fluid blur-up lazyload"
                        alt=""
                      />
                      <div class="media-body">
                        <a href="javascript:void(0)">
                          <h6 class="mb-1">Powermatic 900 W Juicer</h6>
                        </a>
                        <ul class="rating m-0 p-0">
                          <li>
                            <i class="fas fa-star theme-color"></i>
                          </li>
                          <li>
                            <i class="fas fa-star theme-color"></i>
                          </li>
                          <li>
                            <i class="fas fa-star theme-color"></i>
                          </li>
                          <li>
                            <i class="fas fa-star theme-color"></i>
                          </li>
                          <li>
                            <i class="fas fa-star theme-color"></i>
                          </li>
                        </ul>
                        <p class="mb-0 mt-1">$35.00</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->
